@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monster Racing";
  src: url("/fonts/Monster Racing.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NHL Ducks";
  src: url("/fonts/NHL Ducks.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dreamer TM";
  src: url("/fonts/DreamerTM-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avolta";
  src: url("/fonts/Avolta.otf");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-monster: "Monster Racing", sans-serif;
  --font-nhl: "NHL Ducks", sans-serif;
  --font-helvetica: "Helvetica Now Display", sans-serif;
  --font-dreamer: "Dreamer TM", sans-serif;
  --font-avolta: "Avolta", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
   .text-gradient {
    /* Define default values */
    --gradient-stop: 10%;
    --gradient-pink: 35%;

    background: linear-gradient(
      to bottom, 
      #ffffff 0%, 
      #ffffff var(--gradient-stop), 
      #ff00dc var(--gradient-pink), 
      #ff00dc 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
    letter-spacing: 6px;
    filter: drop-shadow(0 0 2px #ff00dc);
  }

  /* Neon text styles */
  .neon-text-pink {
    @apply text-[#FF37E3] font-avolta tracking-widest;
    text-shadow: 0 0 2px rgba(255, 0, 220, 0.7), 0 0 10px rgba(255, 0, 220, 0.5);
  }


  .neon-text-magenta {
    @apply text-[#FF37E3] font-avolta tracking-widest;
    text-shadow: 0 0 5px rgba(255, 0, 220, 0.7), 0 0 10px rgba(255, 0, 220, 0.5);
    -webkit-text-stroke: 0.5px black;
  }

  .neon-text-magenta-hover-fade {
    @apply text-[#FF37E3] font-avolta tracking-widest;
    text-shadow: 0 0 5px rgba(255, 0, 220, 0.7), 0 0 10px rgba(255, 0, 220, 0.5);
    -webkit-text-stroke: 0.5px black;
    transition: all 0.3s;
  }

  .neon-text-magenta-hover-fade:hover,
  .group:hover .neon-text-magenta-hover-fade {
    text-shadow: none;
    -webkit-text-stroke: 0;
  }

  /* Text styles */
  .text-body-white {
    @apply text-white text-sm leading-relaxed font-helvetica;
  }

  .text-body-white-base {
    @apply text-white text-base leading-relaxed font-helvetica;
  }

  /* Card styles */
  .project-card-bg {
    @apply bg-[#FF00DC]/10 rounded-[24px] border border-[#A2108D];
  }

  .project-card-overlay {
    @apply absolute inset-0 bg-[#FF00DC]/10 rounded-[24px] border border-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out;
  }

  .hover-fade {
    @apply group-hover:opacity-40 group-hover:text-white transition-all duration-300;
  }
}